body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-one {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/public/assets/background_01.jpg");
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section-two {
  height: 100vh;
  color: white;
  background: #13120d;
}

.section-two .part-one {
  display: flex;         
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  background: #786abf;
  border-bottom: 1px solid white;
}

.section-two .part-two {
  display: flex;         
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two img {
  margin-top: 5rem;
}

.section-three {
  display: flex;         
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  color: white;         
  text-align: center;   
  background: #786abf;
}

.section-three .part-one {
  display: flex;         
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

.section-three .part-two {
  margin-top: 5rem;
  display: flex;         
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-three span {
  color: black;
}

.section-four {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/public/assets/background_01.jpg");
  color: white;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  height: 30vh;
}

.container-four {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-date {
  height: 4rem;
}

#circle {
  opacity: 0;
}

.st1 {
  height: 10rem;
}

.logo-place {
  height: 20rem;
}

p {
  text-align: center;
}

h2 {
  font-size: 5rem;
  margin-top: 2rem;
}

time {
  font-size: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: auto;
  display: flex;
  padding: 0.5rem;
}
.footer div {
  justify-content: space-evenly;
}
.footer img {
  height: 2rem;
}

#first-text {
  opacity: 0;
}

#second-text {
  opacity: 0;
}

#line-container {
  height: 10%;
  width: 20%;
  position: absolute;
  left: 0;
  bottom: 100;
  /* rotate: -45deg; */
  transform: translate(-50%, -50%);
}

#line {
  stroke-dashoffset: 0;
}

@media screen and (max-width: 1024px) {
  p {
    padding: 0.5rem;
  }
  .logo-osrd-big {
    height: 13rem;
    padding: 0.5rem;
  }
  .logo-date {
    height: 2rem;
    padding: 0.5rem;
  }
  .logo-titre {
    height: 4rem;
    padding: 0.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
