* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("/public/fonts/Avenir/avenir-medium.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Avenir";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.background {
  text-align: center;
  color: var(--color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./public/assets/visuels/background_site_kickoff.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: scroll;
}

.background-black {
  background-color: black;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.section-one {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#first-text-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#first-text-container h2 {
  align-items: center;
}

#first-text-container span {
  color: #786abf;
}

#first-text-container h2 {
  font-size: 2rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-text-container p {
  font-size: 2rem;
  padding: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow-x: hidden;
}

.section-two .part-one {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #786abf;
}

.section-two .link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.section-two .part-two {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #13120d;
}

.section-three {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: #786abf;
  overflow-x: hidden;
  padding: 1rem;
  overflow-y : hidden
}

.section-three .part-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.section-three .part-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  text-align: justify;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.section-three .head {
  font-size: 3rem;
  margin-top: 1rem;
}

.section-three span {
  color: black;
  font-size: 1.4rem;
}

.section-three span2 {
font-size: 1.5rem;
}

.section-three span3 {
  font-size: 1.2rem;
  color: #000;
  }

.section-three p {
  font-size: 1.2rem;
}

.section-four {
  height: 100vh;
  width: 100vw;
  color: white;
}

.container-four {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.footer div {
  justify-content: space-evenly;
}
.footer img {
  height: 2rem;
  padding-left: 1rem;
}

.footer.show {
  opacity: 1;
}

.logo-date {
  height: 4rem;
}

#circle {
  opacity: 0;
}

.st1 {
  height: 10rem;
}

.logo-place {
  height: 18rem;
}

.logo-metro {
  height: 1.5rem;
  vertical-align: -6px;
}

a {
  text-decoration: none;
}

.link {
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

time {
  font-size: 2rem;
}

#second-text {
  opacity: 0;
}

#first-ornament-svg {
  position: absolute;
  left: -10px;
  bottom: 100px;
  height: 10vh;
  width: 10vh;
  opacity: 0;
}

#second-ornament-svg {
  position: absolute;
  right: -2%;
  top: 50px;
  height: 15vh;
  width: 15vh;
  opacity: 0;
}

#third-ornament-svg {
  position: absolute;
  right: -15px;
  bottom: 50px;
  height: 4rem;
  z-index: 1000;
  rotate: 110deg;
}
#fourth-ornament-svg {
  position: absolute;
  left: -10px;
  top: 10rem;
  height: 6rem;
  z-index: 1000;
  rotate: 110deg;
}
#fifth-ornament-svg {
  position: absolute;
  right: -6rem;
  bottom: 20%;
  height: 13rem;
}

#titre {
  /* padding-top: 10; */
  height: 15%;
  opacity: 0;
}

#date {
  /* padding-top: 10; */
  height: 15%;
  opacity: 0;
}
#arrow-down {
  height: 3.8vh;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
  padding-right: 0.5rem;
}
#arrow-up {
  height: 3.8vh;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
  padding-right: 0.5rem;
}

.arrow-container {
  position: fixed;
  bottom: 1%;
  right: 2%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.arrow-container div {
  transition: opacity 0.5s ease;
  padding-left: 4px;
  justify-content: center;
}

.arrow-container div.hide {
  opacity: 0;
  pointer-events: none;
}

/* Rebours */

.splitflap {
  position: relative;
  min-width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  font-size: 50px;
  font-family: Monospace;
  text-align: center;
  color: white;
}

.center {
  opacity: 0;
  left: 0;
  top: 50%;
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  perspective: 500px;
}

.top {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #2a2a2a;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  z-index: 0;
}

.bottom {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
  background-color: black;
  background-image: linear-gradient(#2a2a2a, #2a2a2a);
  transform-origin: center;
}

.nextHalf {
  position: relative;
  height: 50%;
  width: 100%;
  margin-top: -100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  background-color: black;
  background-image: linear-gradient(#2a2a2a, #2a2a2a);
  transform-origin: bottom;
}

.nextFull {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -3;
}

.flip1 {
  animation: flip1 ease-in 1;
  animation-duration: 1s;
}

.flip2 {
  animation: flip2 ease-out 1;
  animation-duration: 1s;
}

@keyframes flip1 {
  0% {
    transform: rotateX(0deg);
    background-color: #2a2a2a;
  }
  50% {
    transform: rotateX(90deg);
    background-color: black;
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip2 {
  0% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
    background-color: #2a2a2a;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(5%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
  .section-one p {
    font-size: 20px;
  }
  .section-two p {
    font-size: 20px;
  }
  .section-two h2 {
    font-size: 2rem;
  }
  .section-three span{
    font-size: 15px;
  }

  .section-three span2 {
    font-size: 15px;
  }

  .section-three span3 {
    font-size: 15px;
  }

  .section-three .head {
    font-size: 30px;
    margin-top: none;
  }

  time {
    font-size: 15px;
  }

  .section-four p {
    font-size: 40px;
  }

  #logo-osrd-big {
    height: 20rem;
    padding: 0.5rem;
  }
  .logo-date {
    height: 2rem;
    /* padding: 0.5rem; */
  }
  .logo-titre {
    height: 4rem;
    /* padding: 0.5rem; */
  }

  #first-text-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 20vh;
  }

  #first-text-container span {
    color: #786abf;
  }

  #first-text-container h2 {
    text-align: left;
    font-size: 2rem;
    line-height: 0;
  }

  #first-text-container p {
    text-align: left;
    font-size: 1.5rem;
    padding: 0;
    line-height: 0;
  }
  .splitflap {
    position: relative;
    min-width: 25px;
    height: 25px;
    margin: 2.5px;
    line-height: 25px;
    font-size: 25px;
    font-family: Monospace;
    text-align: center;
    color: white;
  }

  .center {
    left: 0;
    top: 50%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 500px;
  }

  .top {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #2a2a2a;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    z-index: 0;
  }

  .bottom {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -50%;
    border-radius: 5px 5px 5px 5px;
    z-index: -1;
    background-color: black;
    background-image: linear-gradient(#2a2a2a, #2a2a2a);
    transform-origin: center;
  }

  .nextHalf {
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: -100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    background-color: black;
    background-image: linear-gradient(#2a2a2a, #2a2a2a);
    transform-origin: bottom;
  }

  .nextFull {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    margin-top: -50%;
    border-radius: 5px 5px 5px 5px;
    z-index: -3;
  }
  #first-ornament-svg {
    position: absolute;
    left: -10px;
    bottom: 100px;
    height: 10vh;
    width: 10vh;
    opacity: 0;
  }

  #second-ornament-svg {
    position: absolute;
    right: -2%;
    top: 50px;
    height: 15vh;
    width: 15vh;
    opacity: 0;
  }

  #third-ornament-svg {
    position: absolute;
    right: -15px;
    bottom: 6rem;
    height: 8rem;
    z-index: 1000;
    rotate: 110deg;
  }
  #fourth-ornament-svg {
    position: absolute;
    left: -10px;
    bottom: 10px;
    height: 4rem;
    z-index: 1000;
    rotate: 110deg;
  }

  #fifth-ornament-svg {
    position: absolute;
    right: -7rem;
    top: 30%;
    height: 8rem;
    z-index: 1000;
    rotate: 110deg;
  }
}
@media screen and (max-width: 700px) and (min-width: 200px) {
  p {
    padding: 0.5px;
  }

  .section-three span{
    font-size: 15px;
  }

  .section-three span2 {
    font-size: 15px;
  }

  .section-three span3 {
    font-size: 15px;
  }

  .section-three .head {
    font-size: 30px;
    margin-top: none;
  }

  time {
    font-size: 15px;
  }

  .section-three p {
    font-size: 12px;
  }
  .section-one p {
    font-size: 20px;
  }
  .section-two p {
    font-size: 15px;
  }
  .section-two h2 {
    font-size: 2rem;
  }
  .section-four p {
    font-size: 20px;
  }

  #logo-osrd-big {
    height: 12rem;
    /* padding: 0.5rem; */
  }
  .logo-date {
    height: 2rem;
    /* padding: 0.5rem; */
  }
  .logo-titre {
    height: 4rem;
    /* padding: 0.5rem; */
  }
  h2 {
    font-size: 3rem;
  }

  #first-text-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 15vh;
  }

  #first-text-container span {
    color: #786abf;
  }

  #first-text-container h2 {
    text-align: left;
    font-size: 2rem;
    line-height: 0;
  }

  #first-text-container p {
    text-align: left;
    font-size: 1rem;
    padding: 0;
    line-height: 0;
  }
  .splitflap {
    position: relative;
    min-width: 25px;
    height: 25px;
    margin: 2.5px;
    line-height: 25px;
    font-size: 25px;
    font-family: Monospace;
    text-align: center;
    color: white;
  }

  .center {
    left: 0;
    top: 50%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 500px;
  }

  .top {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #2a2a2a;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    z-index: 0;
  }

  .bottom {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -50%;
    border-radius: 5px 5px 5px 5px;
    z-index: -1;
    background-color: black;
    background-image: linear-gradient(#2a2a2a, #2a2a2a);
    transform-origin: center;
  }

  .nextHalf {
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: -100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    background-color: black;
    background-image: linear-gradient(#2a2a2a, #2a2a2a);
    transform-origin: bottom;
  }

  .nextFull {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    margin-top: -50%;
    border-radius: 5px 5px 5px 5px;
    z-index: -3;
  }
  #first-ornament-svg {
    position: absolute;
    left: -10px;
    bottom: 100px;
    height: 6.5vh;
    width: 6.5vh;
    opacity: 0;
  }

  #second-ornament-svg {
    position: absolute;
    right: -2%;
    top: 50px;
    height: 12vh;
    width: 12vh;
    opacity: 0;
  }

  #third-ornament-svg {
    position: absolute;
    right: -15px;
    top: 4rem;
    height: 4rem;
    z-index: 1000;
    rotate: 110deg;
  }
  #fourth-ornament-svg {
    position: absolute;
    left: -10px;
    bottom: 10px;
    height: 4rem;
    z-index: 1000;
    rotate: 110deg;
  }

  #fifth-ornament-svg {
    position: absolute;
    right: -7rem;
    top: 50%;
    height: 8rem;
    z-index: 1000;
    rotate: 110deg;
  }

  .container-one {
    height: 40vh;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
