.section-one {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../public/assets/background_02.png");
  color: white;
}

.section-two {
  height: 100vh;
  background-color: white;
  color: white;
  text-align: center;
  background: linear-gradient(#110f0a, #9198e5);
}

.section-three {
  height: 100vh;
  background-color: black;
  color: white;
}

.section-four {
  height: 100vh;
  background-color: white;
  color: black;
}

.container-one {
height: 100vh;
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;

}
